@import "variables.scss";
@import "mixins.scss";

@font-face {
  font-family: "Gotham Pro";
  src: url("~@/assets/fonts/GothamPro.woff") format("woff");
}


body {
  font-weight: bold;
  margin: 0;
  font-family: $main-font-family;
  box-sizing: border-box;
  font-size: 12px;
  padding: 80px;
  background: $color-black-100;
  @include media-tablet {
    padding: 30px;
  }
  @include media-mobile {
    padding: 7px;
  }

}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

.btn-green {
  background-color: $color-accent-green-100;
  color: $color-white;
  border-radius: 5px;
  width: 100%;

  &:hover {
    color: $color-white;
    box-shadow: $box-shadow-dark;
  }
}

.btn-link {
  font-size: 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $color-black-100;
  text-decoration: none;
  border-bottom: 1px solid $color-accent-green-100;
  border-radius: 0;
  padding: 6px 0 3px;
  line-height: 8px;

  &:hover {
    color: $color-accent-green-100;
    border-color: $color-black-100;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-checkbox {
  background-color: $color-white;
  color: $color-black-100;
  border-radius: 5px !important;
  width: 100%;
  max-width: 48px;
  height: 40px;
  border: $border-grey-300;

  &.active {
    background-color: $color-accent-green-100;
    color: $color-white;
    border-color: transparent;
  }
}

.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) {
  margin-left: 4px;
}

.form-group {
  margin-bottom: 0;
}

.separator {
  font-weight: 400;
  color: $color-grey-300;
  font-size: 20px;
  text-align: center;
  width: 60px;

  @include media-little-tablet{
    display: none;
  }
}

legend{
  @include media-little-tablet{
    text-align: center;
  }
}

fieldset > div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include media-little-tablet{
    justify-content: center;
  }
}