@import "variables.scss";
@import "mixins.scss";

@font-face {
  font-family: "Gotham Pro";
  src: url("~@/assets/fonts/GothamPro-Light.woff") format("woff");
}


body {
  margin: 0;
  font-family: $main-font-family;
  box-sizing: border-box;
  font-size: 12px;
  padding: 80px;
  background: $color-black-100;
  @include media-mobile {
    padding: 20px;
  }
  @include media-mobile {
    padding: 7px;
  }

}

.btn:focus, .btn.focus{
  box-shadow: none ;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border:none;
}

.btn-green {
  background-color: $color-accent-green-100;
  color: $color-white;
  border-radius: 5px;
  width: 100%;
  &:hover {
    color: $color-white;
    box-shadow: $box-shadow-dark;
  }
}

.btn-link {
  font-weight: bold;
  font-size: 10px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $color-black-100;
  text-decoration: none;
  border-bottom: 1px solid $color-accent-green-100;
  border-radius: 0;
  padding: 0;
  &:hover{
    color:$color-accent-green-100;
    border-color: $color-black-100;
  }
}
.form-group {
  //padding-left: 30px;
  padding-right: 30px;
}